<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "head.html" %}
		{% block head %}{% endblock %}
	</head>
	<body>
		<header class="layout-header">
			<img src="android-chrome-192x192.png" alt="TalTech logo">
			<div class="navbar-vertical">
				<h1><a href="{{ site.baseurl }}/">TalTech HPC Centre</a></h1>
				<nav class="main-navbar">
					{% for item in homelinks.docs %}
					<a href="{{ item.url }}">{{ item.name.replace('TalTech HPC', '') }}</a>
					{% endfor %}
					{% for item in homelinks.infos %}
					<a href="{{ item.url }}">{{ item.name.replace('TalTech HPC', '') }}</a>
					{% endfor %}
					{% for item in homelinks.services %}
					<a href="{{ item.url }}">{{ item.name.replace('.hpc.taltech.ee', '') }}</a>
					{% endfor %}
				</nav>
			</div>
		</header>
		<main class="layout-main">
			{% block title %}{% endblock %}
			{{ content | safe }}
		</main>
		<footer class="layout-footer">
			<p>&copy; TalTech HPC Centre. All rights reserved.</p>
		</footer>
		{% block comments %}{% endblock %}
	</body>
</html>
