<!DOCTYPE html>
<html lang="en">

<head>
	{% include "head.html" %}
	{% block head %}{% endblock %}
</head>

<body>
	<header class="header">
		<img src="android-chrome-192x192.png" alt="TalTech logo" style="margin-left: auto; margin-right: auto; width: 120px;">
		<!--
		<h1>TalTech HPC Centre</h1>
		-->
		<!-- <div class="headerlinks">
			<p>
				<a href="/">home</a>
				<a href="{{ links.docs }}">docs</a>
				{% block headerlinks %}{% endblock %}
			</p>
		</div> -->
	</header>
	<main>
		<!-- <div class="container"> -->
			{% block title %}{% endblock %}
			{{ content | safe }}
		<!-- </div> -->
	</main>
	{% block comments %}{% endblock %}
</body>


</html>