@import url('./10-reset.css');
@import url('./20-root.css');
@import url('./30-mainpage.css');

.emote {
    vertical-align: middle;
    display: inline;
}

/* Header */
.header {
    padding-top: 50px;
    margin: 0 0 1rem 0;
    text-align: center;
}

@media (min-width: 1200px) {
    .header {
        margin: 0 0 3rem 0;
    }
}

.headerlinks {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    /* space-between; */
    align-items: center;
    font-family: var(--tertiary-font);
    font-size: 1.7rem;
    font-weight: 500;
}

.headerlinks a {
    margin-right: 1rem;
}

/* Footer */
.footer {
    padding-top: 50px;
    margin: 1rem 0 2rem 0;
    display: flex;
    justify-content: center;
    /* space-between; */
    font-family: var(--tertiary-font);
    font-size: 1.7rem;
    font-weight: 500;
}

@media (min-width: 1200px) {
    .footer {
        margin: 3rem 0 2rem 0;
    }
}

.footer-p {
    display: flex;
    /* Ensure items wrap within this container */
    flex-wrap: wrap;
    /* Space between the links */
    gap: 1rem;
    /* Center content within this container */
    justify-content: center;
}

.footer-p a {
    display: flex;
    align-items: center;
}

.footer-p a svg {
    /* Space between the icon and text */
    margin-right: 0.5rem;
}

.textshadow {
    font-size: x-small;
    opacity: 0.6;
    margin: 0;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1),
        -2px -2px 10px black;
}

blockquote {
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-accent-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}