@import url('./10-reset.css');
@import url('./20-root.css');
@import url('./30-mainpage.css');

body {
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    font-size: var(--base-font-size);
    color: var(--text-color);
    /* background-color: var(--taltech-burgundy); */
    background-color: var(--taltech-grey-light);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

div.page-container {
    position: relative;
    min-height: 100vh;
}

div.foreground {
    margin: auto;
    /* background-color: #ffffff; */
    background-color: var(--taltech-grey-light);
}

/* div.foreground >  */ div.container {
    width: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

div.header > img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

main > div.container {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    width: 60%;
}

@media (max-width: 1200px) {
    main > div.container {
        width: 80%;
    }
}
@media (max-width: 768px) {
    main > div.container {
        width: 95%;
    }
}

div.header {
    background-image: var(--taltech-gradient);
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    width: 100%;
}

.emote {
    vertical-align: middle;
    display: inline;
}

/* Header */
.header {
    padding-top: 50px;
    margin: 0 0 1rem 0;
    text-align: center;
}

@media (min-width: 1200px) {
    .header {
        margin: 0 0 3rem 0;
    }
}

.headerlinks {
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    /* space-between; */
    align-items: center;
    font-family: var(--tertiary-font);
    font-size: 1.7rem;
    font-weight: 500;
}

.headerlinks a {
    margin-right: 1rem;
}

/* Footer */
div.footer {
    background-image: var(--taltech-gradient);
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: center;
    font-family: var(--tertiary-font);
    font-size: 1.7rem;
    font-weight: 500;
    padding: 1rem 0 1rem 0;
}

@media (min-width: 1200px) {
    div.footer {
        margin: 0;
    }
}

p.footer {
    display: flex;
    /* Ensure items wrap within this container */
    flex-wrap: wrap;
    /* Space between the links */
    gap: 1rem;
    /* Center content within this container */
    justify-content: center;
    align-items: end;
    padding: 0;
    margin-bottom: 0;

    color: var(--taltech-grey-light);
    font-family: var(--tertiary-font);
    font-size: 1.2em;
}

p.footer a {
    display: flex;
    align-items: center;
}

p.footer a svg {
    /* Space between the icon and text */
    margin-right: 0.5rem;
}

.textshadow {
    font-size: x-small;
    opacity: 0.6;
    margin: 0;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1),
        -2px -2px 10px black;
}

blockquote {
    font-style: italic;
    font-weight: 500;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    background: linear-gradient(to bottom right, var(--secondary-color), var(--secondary-accent-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}