@import url('./20-root.css');
@import url('./30-mainpage.css');

body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    color: var(--main-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-block: contain;
}

a {
    text-decoration: none;
    color: var(--taltech-blue)
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

p {
    line-height: 1.6;
}
h1, p, i {
    color: aliceblue;
}
