@import url('./20-root.css');
@import url('./30-mainpage.css');

body {
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    color: var(--main-color);
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overscroll-behavior-block: contain;
}

/* Header */
div.header {
    position: sticky;
    top: 0;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0 0 0 0;
    text-align: center;
    background-image: linear-gradient(25deg, #e40d7e, #e40d7e 6%, #342c61);
}

@media (min-width: 1200px) {
    div.header {
        margin: 0 0 0 0;
    }
}

a {
    text-decoration: none;
    color: var(--taltech-blue)
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

p {
    line-height: 1.6;
}
h1, p, i {
    color: aliceblue;
}
