@import url('./00-global.css');

body {
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: var(--base-font-size);
    background-color: var(--parchment);
    color: var(--main-color);
}

body > header.layout-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: var(--taltech-gradient);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
body > header.layout-header > div.navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
body > header.layout-header img {
    margin-left: auto;
    margin-right: auto;
}
body > header.layout-header h1 {
    font-family: var(--primary-font);
    color: var(--taltech-burgundy);
}
body > header.layout-header h1 a {
    font-family: var(--primary-font);
    color: var(--taltech-grey-light);
}
body > header.layout-header nav {
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
    justify-content: right;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body > header.layout-header nav a {
    font-family: var(--secondary-font);
    color: white;
    margin: 0 15px;
    font-size: 1em;
    text-wrap-mode: nowrap;
}
body > header.layout-header nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}

body > main.layout-main {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 4vh;
    background-color: var(--taltech-grey-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

body > footer.layout-footer {
    margin: 0;
    padding: 0;
    background-color: var(--taltech-blue-dark);
    color: white;
    text-align: center;
    font-family: var(--secondary-font);
    position: sticky;
    bottom: 0;
    height: min-content;
}
body > footer.layout-footer p {
    margin: 0;
    padding-bottom: 0;
    font-size: 0.9em;
}
