@import url('./00-global.css');

body > header.layout-header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: var(--taltech-gradient);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}
body > header.layout-header > div.navbar-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
body > header.layout-header img {
    margin-left: auto;
    margin-right: auto;
}
body > header.layout-header h1 {
    font-family: var(--primary-font);
    color: var(--taltech-blue);
}
body > header.layout-header nav {
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
}
body > header.layout-header nav a {
    font-family: var(--secondary-font);
    color: white;
    margin: 0 15px;
    font-size: 1em;
}
body > header.layout-header nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}
