:root {
    --sides-padding-desktop: 3%;
    --sides-padding-mobile: 5%;
    --light-coral: hsla(356, 77%, 71%, 1);
    --azure-web: hsla(167, 22%, 84%, 1);
    --columbia-blue: hsla(191, 24%, 78%, 1);
    --davys-gray: hsla(0, 0%, 36%, 1);
    --raisin-black: hsla(340, 7%, 17%, 1);

    --vanilla: hsla(47, 57%, 75%, 1);
    --parchment: hsla(46, 51%, 88%, 1);
    --dull-parchment: hsla(38, 10%, 79%, 1);
    --eerie-black: hsla(210, 3%, 14%, 1);
    --light-coral: hsla(1, 65%, 73%, 1);
    --salmon-pink: hsla(349, 84%, 74%, 1);

    --mountbatten-pink: hsla(292, 14%, 59%, 1);
    --rose-quartz: hsla(321, 19%, 67%, 1);

    --system-white: #c5d9d5;
    --taltech-blue: #4dbcd0;
    --taltech-blue-darker: #499baa;
    --taltech-darkblue: #342c61;
    --taltech-pink: #e40d7e;
    --taltech-pink-light: #e40d7e80;
    --taltech-purple: #342c61;

    --base-font-size: 1.6em;
    /* Good pairs: 
    JMH-Cthulhumbus-Arcade & VT323-Regular
    Italipixel & 9801
    technotot & inter
    recursive & monospace
    */
    --logo-font: sans-serif;
    --main-font: "ProximaNovaBlack", sans-serif;
    --secondary-font: "ProximaNovaLight", sans-serif;
    --tertiary-font: "ProximaNovaLight", sans-serif;

    --main-color: var(--eerie-black);
    --main-accent-color: var(--davys-gray);
    --secondary-color: white;
    --secondary-accent-color: white;
    --tertiary-color: var(--taltech-blue);
    --tertiary-accent-color: var(--taltech-blue-darker);
    --taltech-gradient: linear-gradient(25deg, #e40d7e, #e40d7e 6%, #342c61);
}

/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("../fonts/Proxima Nova Black.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}
/* font-family: "ProximaNovaLight"; */
@font-face {
    font-family: "ProximaNovaLight";
    src: url("../fonts/Proxima Nova Light.ttf") format("truetype");
    font-style: normal;
    font-weight: lighter;
}
