section.side {
    margin: auto;
    margin-top: 2em;
    max-width: 70vw;
    padding: 2%;
    background-color: var(--taltech-blue);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
}
section h2 {
    font-size: 1.8em;
    font-family: var(--primary-font);
    padding: 1%;
    padding-left: 0;
    margin: 0;
}
section p {
    font-size: 1.1em;
    font-family: var(--secondary-font);
    justify-self: auto;
    text-justify: newspaper;
}
section a.button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--taltech-pink);
    color: white;
    text-decoration: underline;
    font-family: var(--tertiary-font);
    border-radius: 5px;
}

section.side.left {
    text-align: left;
    justify-content: left;
    margin-left: 0;
    border-radius: 0 10px 10px 0;
}
section.side.right {
    text-align: right;
    justify-content: right;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
}

section.full-width {
    margin: auto;
    margin-top: 2em;
    padding: 2%;
    background-color: var(--taltech-blue);
}
section.full-width h2 {
    font-size: 1.8em;
    font-family: var(--primary-font);
    padding: 1%;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
section.full-width p {
    font-size: 1.1em;
    font-family: var(--secondary-font);
    justify-self: auto;
    text-justify: newspaper;
    text-align: center;
}

