section.home-intro {
    text-align: left;
    justify-content: left;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    max-width: 800px;
    padding: 2%;
    background-color: var(--taltech-blue);
}
section.home-intro h2 {
    font-size: 1.8em;
    padding: 1%;
    padding-top: 1em;
    padding-left: 0;
    margin: 0;
}
section.home-intro p {
    font-size: 1.1em;
}
