section.side {
    margin: auto;
    margin-top: 2em;
    max-width: 70vw;
    padding: 2%;
    background-color: var(--taltech-blue);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); */
}
section h2 {
    font-size: 1.8em;
    font-family: var(--primary-font);
    color: white;
    padding: 1%;
    padding-left: 0;
    margin: 0;
}
section p {
    font-size: 1.1em;
    font-family: var(--secondary-font);
    justify-self: auto;
    text-justify: newspaper;
}
section a.button {
    margin: auto;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--taltech-pink);
    color: white;
    /* text-decoration: underline; */
    font-family: var(--tertiary-font);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

section.side.left {
    text-align: left;
    justify-content: left;
    margin-left: 0;
    border-radius: 0 10px 10px 0;
}
section.side.right {
    text-align: right;
    justify-content: right;
    margin-right: 0;
    border-radius: 10px 0 0 10px;
}

section.full-width {
    margin: auto;
    margin-top: 2em;
    padding: 2%;
    background-color: var(--taltech-blue);
}
section.full-width h2 {
    font-size: 1.8em;
    font-family: var(--primary-font);
    padding: 1%;
    padding-left: 0;
    margin: 0;
    text-align: center;
}
section.full-width p {
    font-size: 1.1em;
    font-family: var(--secondary-font);
    justify-self: auto;
    text-justify: newspaper;
    text-align: center;
}
section.full-width a.button {
    display: block;
    margin: auto;
    margin-top: 1em;
    padding: 0.5em 1em;
    background-color: var(--taltech-pink);
    color: white;
    width: fit-content;
    max-width: fit-content;
    font-family: var(--tertiary-font);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
    section.side, section.full-width {
        max-width: 90vw;
        border-radius: 10px;
        text-align: center;
    }
    section.side.left, section.side.right {
        border-radius: 10px;
    }
}

div.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    margin: auto;
    margin-top: 2em;
    max-width: 90vw;
    overflow-x: scroll;
    scrollbar-width: none;
}
div.container div.service-card {
    background-color: var(--taltech-blue-dark);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 1;
    text-align: center;
    min-width: 400px;
}
div.container div.service-card a.service-link {
    display: block;
    font-family: var(--secondary-font);
    font-size: 1.3em;
    margin-bottom: 0.5em;
    color: white;
    text-decoration: none;
}
div.container div.service-card a.service-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 4px;
}
div.container div.service-card img {
    width: auto;
    height: 50%;
    border-radius: 5px;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
div.container div.service-card i.fa-solid {
    font-size: 3em;
    color: white;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
div.container div.service-card p {
    font-family: var(--tertiary-font);
    font-size: 1em;
    color: white;
    text-justify: newspaper;
    margin-bottom: 0;
}
@media (max-width: 768px) {
    div.container {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    div.container div.service-card {
        width: 80vw;
        margin: 1em 0;
        height: fit-content;
        min-height: 350px;
    }
    div.container div.service-card.contact {
        min-height: 200px;
    }
}
