h1.mainpage-category-header {
    text-align: center;
    text-justify: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
div.mainpage-category {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;
}
div.mainpage-category-item {
    border-radius: 8px;
    max-width: calc(50% - 1rem);
    text-align: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 3%;

    border-radius: 5%;
    padding: 1%;
    border-width: 2px;
    background-color: #342c61;
    background-image: linear-gradient(25deg,#e40d7e,#e40d7e 6%,#342c61);
    border-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0,0.2);
    transition: 0.3s;
}
div.mainpage-category-item h2 {
    font-size: 2.2rem;
    margin-bottom: 5%;
}
div.mainpage-category-item p {
    font-size: 80%;
    margin-top: 10%;
    margin-bottom: 0%;
}
div.mainpage-category-item img {
    max-width: 100%;
    max-height: 11rem;
    height: auto;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    margin: auto;
}

i.big-icon {
    font-size: 10rem;
}
