h1.mainpage-category-header {
    text-align: center;
    text-justify: center;
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
div.mainpage-category {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 20px;
}
div.mainpage-category-item {
    border: 1px solid var(--border-color);
    border-radius: 8px;
    max-width: calc(50% - 1rem);
    text-align: center;
    align-content: center;
    justify-content: center;
}
div.mainpage-category-item h2 {
    font-size: 2.2rem;
    margin-bottom: 10px;
}
div.mainpage-category-item p {
    font-size: 1.4rem;
    margin-top: 10px;
}
div.mainpage-category-item img {
    max-width: 100%;
    max-height: 11rem;
    height: auto;
    border-radius: 4px;
    align-self: center;
    justify-self: center;
    margin: auto;
}
