---
layout: "base-layout.html"
title: "Home | TalTech HPC Centre"
description: "TalTech HPC Centre landing page"
---

<div class="plane-middle">
    <p class="intro">Taltech High Performance Computing Centre (HPC Centre) develops and manages the compute resources for scientific
        use.</p>

    <h5 class="section-header">Services</h5>
    <ul>
        {% for item in homelinks.services %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
                <p>- {{item.description}}</p>
        </li>
        {% endfor %}
    </ul>

    <h5 class="section-header">Info</h5>
    <ul>
        {% for item in homelinks.infos %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h5 class="section-header">Help</h5>
    <ul>
        {% for item in homelinks.helps %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
                <p>- {{item.description}}</p>
        </li>
        {% endfor %}
    </ul>

    <h5 class="section-header">Documentation</h5>
    <ul>
        {% for item in homelinks.docs %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>