---
layout: "base-layout.html"
title: "Home | TalTech HPC Centre"
description: "TalTech HPC Centre landing page"
---

<div class="plane-middle">
    <p style="font-weight:400;">Taltech High Performance Computing Centre (HPC Centre) develops and manages the compute resources for scientific
        use.</p>

    <h5 style="margin-top: 40px;">Services</h5>
    <ul>
        {% for item in homelinks.services %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
                - {{item.description}}
        </li>
        {% endfor %}
    </ul>

    <h5 style="margin-top: 40px;">Info</h5>
    <ul>
        {% for item in homelinks.infos %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
        </li>
        {% endfor %}
    </ul>

    <h5 style="margin-top: 40px;">Help</h5>
    <ul>
        {% for item in homelinks.helps %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
                - {{item.description}}
        </li>
        {% endfor %}
    </ul>

    <h5 style="margin-top: 40px;">Documentation</h5>
    <ul>
        {% for item in homelinks.docs %}
        <li>
            <a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a>
        </li>
        {% endfor %}
    </ul>
</div>