---
layout: "base-layout.html"
title: "Home | TalTech HPC Centre"
description: "TalTech HPC Centre landing page"
---

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<div class="plane-middle">
    <p style="font-weight:400;text-align: center;">Taltech High Performance Computing Centre (HPC Centre) develops and manages the compute resources for scientific
        use.</p>

    <h1 class="mainpage-category-header">Services</h1>
    <div class="mainpage-category">
        {% for item in homelinks.services %}
        <div class="mainpage-category-item">
            <h2><a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a></h2>
            <div class="image-wrapper">
                <img src="{{item.image}}" alt="{{item.name}} image" />
            </div>
            <p>{{item.description}}</p>
        </div class="mainpage-category-item">
        {% endfor %}
    </div>

    <h1 class="mainpage-category-header">About</h1>
    <div class="mainpage-category">
        {% for item in homelinks.infos %}
        <div class="mainpage-category-item">
            <h2><a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a></h2>
            <i class="{{item.icon}} big-icon"></i>
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </div>

    <h1 class="mainpage-category-header">Help</h1>
    <div class="mainpage-category">
        {% for item in homelinks.helps %}
        <div class="mainpage-category-item">
            <h2><a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a></h2>
            <i class="{{item.icon}} big-icon"></i>
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </div>

    <h1 class="mainpage-category-header">Documentation</h1>
    <div class="mainpage-category">
        {% for item in homelinks.docs %}
        <div class="mainpage-category-item">
            <h2><a href="{{item.url}}" target="_blank" rel="noopener noreferrer">
                {{item.name}}
            </a></h2>
            <i class="{{item.icon}} big-icon"></i>
            <p>{{item.description}}</p>
        </div>
        {% endfor %}
    </div>
</div>
